h1, h2, h3, h4, h5, h6 {
  color: #666666;
  font-weight: 600;
  line-height: normal; }

h1 {
  font-size: 2rem;
  padding: 15px 0; }

h2 {
  font-size: 1.5rem;
  padding: 20px 0;
  display: block;
  width: 100%; }

h4 {
  font-size: 1rem; }

ul.list-row li.item {
  display: inline-block; }

a {
  color: #666;
  text-decoration: none; }

a:visited {
  color: #C6C6C6;
  text-decoration: underline; }

a:hover {
  color: #4BC0E4; }

button {
  color: #B7B7B7; }

body {
  color: #B7B7B7;
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: 150%; }

.btn,
.btn--v2,
.btn--v3 {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #D8D8D8;
  cursor: pointer; }
  .btn:hover,
  .btn--v2:hover,
  .btn--v3:hover {
    border-color: #4BC0E4;
    color: #4BC0E4; }

.btn--v2 {
  background-color: #4BC0E4;
  border-color: #4BC0E4;
  color: white; }
  .btn--v2:visited, .btn--v2:focus {
    background-color: #4BC0E4;
    border-color: #4BC0E4;
    color: white; }
  .btn--v2:active {
    color: #4BC0E4;
    border: 1px solid #4BC0E4;
    background-color: white; }
  .btn--v2:hover {
    color: #4BC0E4;
    border: 1px solid #4BC0E4;
    background-color: white; }

body header.container-fluid {
  padding-right: 0;
  padding-left: 0; }

header {
  background-color: #FDFDFD;
  position: relative;
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0 20px 0;
  top: 0;
  left: 0;
  z-index: 10; }
  header a {
    color: #B7B7B7;
    text-decoration: none; }
    header a:hover {
      text-decoration: none; }

header > .row {
  margin-top: 10px; }
  header > .row:firts-child {
    margin-top: 0; }

header .logo {
  width: 160px;
  overflow: hidden;
  width: 100%; }
  header .logo img {
    width: 100%; }

header .location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  header .location i {
    margin-right: 10px; }

header .menu-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  header .menu-top ul {
    list-style: none; }
    header .menu-top ul li {
      display: inline-block;
      margin-right: 15px; }
      header .menu-top ul li:last-child {
        margin-right: 0; }
      header .menu-top ul li a i {
        margin-right: 7px; }

header .menu-burger .btn i {
  margin-right: 10px; }

header form {
  height: 100%; }

header .search input {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #D8D8D8;
  padding: 10px 15px;
  position: relative;
  display: block;
  font-weight: 400;
  color: #444; }
  header .search input::-webkit-input-placeholder {
    color: #D8D8D8; }
  header .search input::-moz-placeholder {
    color: #D8D8D8; }
  header .search input::-ms-input-placeholder {
    color: #D8D8D8; }
  header .search input::placeholder {
    color: #D8D8D8; }

header .search {
  position: relative; }
  header .search:hover input {
    border-color: #4BC0E4; }
    header .search:hover input::-webkit-input-placeholder {
      color: #4BC0E4; }
    header .search:hover input::-moz-placeholder {
      color: #4BC0E4; }
    header .search:hover input::-ms-input-placeholder {
      color: #4BC0E4; }
    header .search:hover input::placeholder {
      color: #4BC0E4; }
  header .search:hover button i {
    color: #4BC0E4; }
  header .search button {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -webkit-calc(100% - 60px);
    left: calc(100% - 60px);
    position: absolute;
    height: 100%;
    width: 45px; }

header .search input:focus {
  border-color: #4BC0E4; }
  header .search input:focus::-webkit-input-placeholder {
    color: #4BC0E4; }
  header .search input:focus::-moz-placeholder {
    color: #4BC0E4; }
  header .search input:focus::-ms-input-placeholder {
    color: #4BC0E4; }
  header .search input:focus::placeholder {
    color: #4BC0E4; }

header .search input:focus + button {
  color: #4BC0E4; }

.breadcroumbs {
  padding-top: 30px; }
  .breadcroumbs ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .breadcroumbs ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      color: #C6C6C6; }
      .breadcroumbs ul li > span {
        color: #4BC0E4; }
      .breadcroumbs ul li a {
        color: #C6C6C6; }
        .breadcroumbs ul li a:hover {
          color: #4BC0E4; }
      .breadcroumbs ul li::after {
        content: "";
        width: 20px;
        height: 2px;
        font-size: 12px;
        background: #EEEEEE;
        display: block;
        margin: 0px 15px;
        position: relative; }
      .breadcroumbs ul li:last-of-type::after {
        display: none; }

.tag {
  position: absolute;
  background-color: rgba(70, 70, 70, 0.35);
  color: #FFFFFF;
  padding: 5px 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2; }
  .tag span {
    margin-left: 5px; }
  .tag i {
    font-size: 10px; }

.sdr-categories {
  width: 100%;
  position: relative;
  padding: 0px 25px; }
  .sdr-categories .owl-item {
    -webkit-transition: all .05s linear;
    -o-transition: all .05s linear;
    transition: all .05s linear; }
    .sdr-categories .owl-item:hover {
      -webkit-transform: scale(0.985);
          -ms-transform: scale(0.985);
              transform: scale(0.985); }
  .sdr-categories .sdr-item {
    min-height: 130px;
    width: 100%;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .sdr-categories .sdr-item-wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none; }
    .sdr-categories .sdr-item-wrap .preview {
      overflow: hidden;
      height: 130px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .sdr-categories .sdr-item-wrap .preview .tag {
        right: 10px;
        top: 10px; }
      .sdr-categories .sdr-item-wrap .preview .img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative; }
        .sdr-categories .sdr-item-wrap .preview .img img {
          width: 100%; }
    .sdr-categories .sdr-item-wrap .title {
      Color: #444;
      font-weight: bold;
      font-size: 14px;
      padding: 10px; }
  .sdr-categories button i {
    font-size: 14px;
    color: #D8D8D8; }
    .sdr-categories button i:hover {
      color: #4BC0E4; }
  .sdr-categories .owl-prev, .sdr-categories .owl-next {
    top: -webkit-calc(50% - 35px);
    top: calc(50% - 35px); }
  .sdr-categories .owl-prev {
    position: absolute;
    left: 0; }
  .sdr-categories .owl-next {
    position: absolute;
    right: 0; }

.adv-list .adv-item {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }
  .adv-list .adv-item .adv-preview {
    position: relative; }
    .adv-list .adv-item .adv-preview .tag-list {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .adv-list .adv-item .adv-preview .tag-list .tag {
        position: relative;
        color: white;
        text-decoration: none; }
        .adv-list .adv-item .adv-preview .tag-list .tag .fas.fa-star {
          display: none; }
    .adv-list .adv-item .adv-preview .tag.active .far.fa-star {
      display: none; }
    .adv-list .adv-item .adv-preview .tag.active .fas.fa-star {
      display: block; }
    .adv-list .adv-item .adv-preview .preview {
      max-height: 200px;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
      .adv-list .adv-item .adv-preview .preview img {
        width: 100%; }
  .adv-list .adv-item .adv-prop {
    padding: 15px 10px;
    color: #444;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    .adv-list .adv-item .adv-prop .prop-info .name {
      font-size: 14px;
      font-weight: 500;
      line-height: normal; }
      .adv-list .adv-item .adv-prop .prop-info .name a {
        color: #444;
        text-decoration: none; }
    .adv-list .adv-item .adv-prop .prop-info .price {
      font-size: 14px;
      font-weight: 600;
      color: #666;
      padding: 10px 0; }
    .adv-list .adv-item .adv-prop .props-list {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .adv-list .adv-item .adv-prop .props-list .prop-item {
        margin-right: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        text-decoration: none;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        color: #CFCFCF; }
        .adv-list .adv-item .adv-prop .props-list .prop-item i {
          margin-right: 7px; }
        .adv-list .adv-item .adv-prop .props-list .prop-item span {
          font-weight: bold; }

.pagination .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  overflow: hidden; }
  .pagination .list .item {
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #D8D8D8;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px;
    color: #D8D8D8; }
    .pagination .list .item:first-of-type {
      margin-left: unset; }
    .pagination .list .item:last-of-type {
      margin-right: unset; }
  .pagination .list .item.active {
    border: 1px solid #4BC0E4;
    color: white;
    background: #4BC0E4;
    cursor: default; }
  .pagination .list .item:not(.active):hover {
    color: #4BC0E4;
    border: 1px solid #4BC0E4; }

.detail .column-l {
  height: 300vh; }

.detail .column-r .content {
  background: #FBFBFB;
  padding: 20px 20px 40px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .detail .column-r .content .title {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .detail .column-r .content .title h1 {
      font-size: 18px; }
    .detail .column-r .content .title .favorite_d {
      font-size: 18px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .detail .column-r .content .title .favorite_d .fas {
        display: none; }
    .detail .column-r .content .title .active .fas {
      display: block; }
    .detail .column-r .content .title .active .far {
      display: none; }
  .detail .column-r .content .adv-info-list {
    padding-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .detail .column-r .content .adv-info-list .inf-item {
      margin-right: 10px; }
      .detail .column-r .content .adv-info-list .inf-item i {
        margin-right: 5px;
        font-style: normal; }
  .detail .column-r .content .price {
    padding: 20px 0; }
    .detail .column-r .content .price span {
      font-size: 1.8rem;
      font-weight: bold;
      color: #666;
      margin-right: 5px; }
      .detail .column-r .content .price span:last-of-type {
        color: #B7B7B7;
        font-weight: 300;
        font-size: 1rem; }
  .detail .column-r .content .author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .detail .column-r .content .author .authon-photo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 15px; }
      .detail .column-r .content .author .authon-photo a {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        overflow: hidden;
        display: block; }
    .detail .column-r .content .author .authon-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .detail .column-r .content .author .authon-title a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .detail .column-r .content .author .authon-title a .name {
          font-size: 14px;
          color: #333; }
  .detail .column-r .content .btn {
    margin-top: 10px; }
  .detail .column-r .content .share {
    padding: 20px 0; }
    .detail .column-r .content .share .title {
      padding: 5px 0; }

footer {
  border-top: 1px solid #F5F5F5;
  padding: 40px 0 40px 0;
  margin-top: 40px; }
  footer .menu_b h4 {
    margin-bottom: 10px; }
  footer .menu_b ul {
    list-style: none; }
    footer .menu_b ul li {
      margin: 5px 0; }
      footer .menu_b ul li a {
        font-size: 14px; }
  footer > .container > .row > div {
    margin-bottom: 30px; }

.menu_social_b .item a {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 15px;
  color: white; }

.menu_social_b .item {
  margin-right: 5px; }
  .menu_social_b .item:last-of-type {
    margin-right: 0px; }

.menu_social_b .vk a {
  background-color: #4A76A8; }

.menu_social_b .ok a {
  background-color: #EE8208; }

.menu_social_b .tw a {
  background-color: #1DA1F2; }

@media screen and (max-width: 768px) {
  header .menu-burger .btn {
    height: 100%; }
  header .menu-burger .btn i {
    margin-right: unset; } }

@media screen and (max-width: 576px) {
  .location, .menu-top {
    padding-bottom: 10px; }
  .header-main-button {
    margin-top: 10px; }
  .pagination .list .item {
    padding: 15px; } }
