#jnjnmap {
  height: 700px;
  width: 100%;
  background: #f2f2f2;
  position: relative;
  overflow: hidden; }
  #jnjnmap .ymap {
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute; }
  #jnjnmap .filter-wrp {
    position: relative;
    overflow: hidden;
    left: 5%;
    top: 5%;
    height: 620px;
    width: 500px;
    z-index: 2;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px -3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px -3px rgba(0, 0, 0, 0.15); }
  #jnjnmap .filter.filter.map-items {
    z-index: 11;
    left: 0;
    top: 0; }
    #jnjnmap .filter.filter.map-items > .filter-cnt-wrp {
      height: 560px; }
      #jnjnmap .filter.filter.map-items > .filter-cnt-wrp > .filter-cnt {
        height: calc(100% - 90px); }
  #jnjnmap .filter.map-filter {
    z-index: 12;
    -webkit-box-shadow: 0px -2px 22px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -2px 22px 0px rgba(0, 0, 0, 0.05); }
    #jnjnmap .filter.map-filter .filter-head {
      cursor: pointer; }
  #jnjnmap .filter {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden;
    padding: 0px 20px;
    width: 100%; }
    #jnjnmap .filter .filter-cnt-wrp {
      height: 0;
      -webkit-transition: all .1s linear;
      -o-transition: all .1s linear;
      transition: all .1s linear; }
    #jnjnmap .filter .filter-cnt {
      padding-right: 20px;
      display: block;
      height: calc(100% - 35px);
      overflow-y: scroll; }
      #jnjnmap .filter .filter-cnt .item-empty {
        padding: 20px;
        text-align: center;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        font-size: 14px;
        color: #C6C6C6;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      #jnjnmap .filter .filter-cnt .fl-item {
        margin-bottom: 5px;
        width: calc(50% - 7px);
        display: inline-block; }
        #jnjnmap .filter .filter-cnt .fl-item:last-of-type {
          margin-bottom: 0; }
        #jnjnmap .filter .filter-cnt .fl-item:nth-of-type(2n) {
          margin-left: 10px; }
      #jnjnmap .filter .filter-cnt .fl-item.fl-item--fill {
        margin-bottom: 5px;
        width: 100%; }
    #jnjnmap .filter .fl-product {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #F9F9F9; }
      #jnjnmap .filter .fl-product .row-top {
        height: 120px;
        background: #c9c9c9;
        overflow: hidden;
        position: relative;
        width: 100%; }
        #jnjnmap .filter .fl-product .row-top .preview {
          height: 100%;
          overflow: hidden;
          width: 100%; }
          #jnjnmap .filter .fl-product .row-top .preview a {
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center; }
          #jnjnmap .filter .fl-product .row-top .preview img {
            height: 100%; }
        #jnjnmap .filter .fl-product .row-top .nav-preview {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
          pointer-events: none;
          padding: 7px 10px; }
          #jnjnmap .filter .fl-product .row-top .nav-preview .item {
            width: 100%;
            height: 5px;
            background: white;
            opacity: .3;
            -webkit-border-radius: 30px;
                    border-radius: 30px;
            margin-right: 5px; }
            #jnjnmap .filter .fl-product .row-top .nav-preview .item:last-of-type {
              margin-right: 0; }
          #jnjnmap .filter .fl-product .row-top .nav-preview .active {
            opacity: .5; }
      #jnjnmap .filter .fl-product .row-bottom {
        min-height: 60px;
        max-height: 100px;
        overflow: hidden;
        padding: 10px;
        font-weight: 500;
        font-size: 14px; }
        #jnjnmap .filter .fl-product .row-bottom a {
          color: #666; }
    #jnjnmap .filter .filter-head {
      padding: 25px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #jnjnmap .filter .filter-head .title {
        font-size: 18px;
        font-weight: 500;
        color: #666; }
      #jnjnmap .filter .filter-head i {
        font-size: 18px;
        color: #B9E5F3;
        pointer-events: none; }
      #jnjnmap .filter .filter-head:hover i {
        color: #4bc0e4; }
  #jnjnmap .filter.active .filter-cnt-wrp {
    height: 490px; }
  #jnjnmap .filter.active .filter-head i {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  #jnjnmap .loader {
    opacity: 0;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 13;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 46px;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear; }
    #jnjnmap .loader .fa-spin {
      -webkit-animation: fa-spin .6s infinite linear;
              animation: fa-spin .6s infinite linear; }
  #jnjnmap .loader.active {
    opacity: 1; }
