h1,h2,h3,h4,h5,h6
	color: #666666
	font-weight: 600
	line-height: normal

h1
	font-size: 2rem
	padding: 15px 0
h2
	font-size: 1.5rem
	padding: 20px 0
	display: block
	width: 100%
h4
	font-size: 1rem

ul.list-row li.item
	display: inline-block

a
	color: #666
	text-decoration: none
a:visited
	color: #C6C6C6
	text-decoration: underline
a:hover
	color: #4BC0E4
	// transition: all .3s ease-out


button
	color: #B7B7B7 


body
	color: #B7B7B7
	font-size: 12px
	font-family: Ubuntu
	font-weight: 400
	line-height: 150%
.app 
	// min-height: 300vh

.btn,
.btn--v2,
.btn--v3
	padding: 10px
	display: flex
	justify-content: center
	align-items: center
	border-radius: 2px
	border: 1px solid #D8D8D8
	cursor: pointer
	&:hover,
		border-color: #4BC0E4
		color: #4BC0E4

.btn--v2
	background-color: #4BC0E4
	border-color: #4BC0E4
	color: white
	&:visited, &:focus
		background-color: #4BC0E4
		border-color: #4BC0E4
		color: white
	&:active
		color: #4BC0E4
		border: 1px solid #4BC0E4
		background-color: white
	&:hover
		color: #4BC0E4
		border: 1px solid #4BC0E4
		background-color: white


body header.container-fluid
	padding-right: 0
	padding-left: 0

header
	background-color: #FDFDFD
	position: relative
	border-bottom: 1px solid #F5F5F5
	padding: 10px 0 20px 0
	top: 0
	left: 0
	z-index: 10	
	a
		color: #B7B7B7
		text-decoration: none
		&:hover
			text-decoration: none

header > .row
	margin-top: 10px
	&:firts-child
		margin-top: 0
header .logo
	width: 160px
	overflow: hidden
	width: 100%
	img
		width: 100%
header .location
	display: flex
	align-items: center
	i
		margin-right: 10px
header .menu-top
	display: flex
	justify-content: flex-end
	align-items: center
	ul
		list-style: none
		li
			display: inline-block
			margin-right: 15px
			&:last-child
				margin-right: 0
			a
				i
					margin-right: 7px
header .menu-burger
	.btn i
		margin-right: 10px


header form
	height: 100%
header .search input
	width: 100%
	height: 100%
	border-radius: 3px
	border: 1px solid #D8D8D8
	padding: 10px 15px
	position: relative
	display: block
	font-weight: 400
	color: #444
	&::placeholder 
		color: #D8D8D8


header .search
	position: relative
	&:hover
		input
			border-color: #4BC0E4
			&::placeholder 
				color: #4BC0E4
		button
			i
				color: #4BC0E4
	button
		cursor: pointer
		display: flex
		justify-content: center
		align-items: center
		top: 0
		left: calc(100% - 60px)
		position: absolute
		height: 100%
		width: 45px
		&:hover

header .search input:focus
	border-color: #4BC0E4
	&::placeholder 
		color: #4BC0E4

header .search input:focus + button
	color: #4BC0E4


.breadcroumbs
	padding-top: 30px
	ul
		display: flex
		align-items:center
		list-style: none
		flex-wrap: wrap
		li
			display: flex
			align-items: center
			font-size: 14px
			color: #C6C6C6
			> span
				color: #4BC0E4
			a
				color: #C6C6C6
				&:hover
					color: #4BC0E4
			&::after
				content: ""
				width: 20px
				height: 2px
				font-size: 12px
				background: #EEEEEE
				display: block
				margin: 0px 15px
				position: relative
			&:last-of-type
				&::after
					display: none



.tag
	position: absolute
	background-color: rgba(70, 70, 70, 0.35)
	color: #FFFFFF
	padding: 5px 10px
	border-radius: 2px
	font-weight: bold
	font-size: 13px
	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	span
		margin-left: 5px
	i
		font-size: 10px


.sdr-categories
	width: 100%
	position: relative
	padding: 0px 25px
	
	.owl-item
		transition: all .05s linear
		&:hover
			transform: scale(.985)
			
	.sdr-item
		min-height: 130px
		// background-color: #f2f2f2
		width: 100%
		border-radius: 2px
	.sdr-item-wrap
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		text-decoration: none
		.preview
			overflow: hidden
			height: 130px
			width: 100%
			display: flex
			align-items: center
			position: relative
			.tag
				right: 10px
				top: 10px
			.img
				width: 100%
				height: 100%
				overflow: hidden
				position: relative
				img
					width: 100%
		.title
			Color: #444
			font-weight: bold
			font-size: 14px
			padding: 10px 
	button i 
		font-size: 14px
		color: #D8D8D8
		&:hover
			color: #4BC0E4
	.owl-prev, .owl-next
		top: calc(50% - 35px)
	.owl-prev
		position: absolute
		left: 0
	.owl-next
		position: absolute
		right: 0		







.adv-list
	.adv-item
		border-radius: 2px
		border: 1px solid #D8D8D8
		display: flex
		flex-direction: column
		justify-content: space-between
		margin-bottom: 30px
		.adv-preview
			position: relative
			.tag-list
				position: absolute
				top: 0px
				left: 0px
				padding: 10px
				display: flex
				width: 100%
				justify-content: space-between
				.tag
					position: relative
					color: white
					text-decoration: none
					.fas.fa-star
						display: none
			.tag.active
				.far.fa-star
					display: none
				.fas.fa-star
					display: block


			.preview
				max-height: 200px
				overflow: hidden
				display: flex
				align-items: center
				justify-content: center
				position: relative
				img
					width: 100%
		.adv-prop
			padding: 15px 10px
			color: #444
			display: flex
			flex-direction: column
			justify-content: space-between
			height: 100%
			flex: 2
			.prop-info
				.name
					font-size: 14px
					font-weight: 500
					line-height: normal
					a
						color: #444
						text-decoration: none
				.price
					font-size: 14px
					font-weight: 600
					color: #666
					padding: 10px 0
			.props-list
				width: 100%
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				.prop-item
					margin-right: 10px
					display: flex
					flex-wrap: nowrap
					text-decoration: none
					align-items: center
					color: #CFCFCF
					i
						margin-right: 7px
					span
						font-weight: bold

.pagination
	.list
		display: flex	
		flex-wrap: wrap
		width: 100%
		overflow: hidden
		.item
			width: 20px
			height: 20px
			display: flex
			padding: 20px
			border-radius: 2px 
			border: 1px solid #D8D8D8
			display: flex
			justify-content: center
			align-items: center
			margin: 0 5px
			color: #D8D8D8
			&:first-of-type
				margin-left: unset
			&:last-of-type
				margin-right: unset
		.item.active
			border: 1px solid #4BC0E4
			color: white
			background: #4BC0E4
			cursor: default
		.item:not(.active)
			&:hover
				color: #4BC0E4
				border: 1px solid #4BC0E4

.detail
	.column-l
		height: 300vh
		.content
			.detail-list-photo
				.item
					
	.column-r
		.content
			background: #FBFBFB
			padding: 20px 20px 40px 20px
			position: sticky
			top: 0
			.title
				align-items: center
				h1
					font-size: 18px
				.favorite_d
					font-size: 18px
					display: flex
					justify-content: center
					align-items: center
					.fas
						display: none
				.active
					.fas
						display: block
					.far
						display: none
			.adv-info-list
				padding-top: 10px
				display: flex
				flex-direction: row
				align-items: center
				.inf-item
					margin-right: 10px
					i
						margin-right: 5px
						font-style: normal
			.price
				padding: 20px 0
				span
					font-size: 1.8rem
					font-weight: bold
					color: #666
					margin-right: 5px
					&:last-of-type
						color: #B7B7B7
						font-weight: 300
						font-size: 1rem
			.author
				display: flex
				justify-content:center
				.authon-photo
					display: flex
					justify-content: center
					align-items: center
					margin-right: 15px
					a
						border-radius: 50%
						overflow: hidden
						display: block
				.authon-title
					display: flex
					flex-direction: column
					justify-content: center
					a
						display: flex
						flex-direction: column
						.compony
							// color: #B7B7B7
						.name
							font-size: 14px
							color: #333
			.btn
				margin-top: 10px
			.share
				padding: 20px 0
				.title
					padding: 5px 0
footer
	border-top: 1px solid #F5F5F5
	padding: 40px 0 40px 0
	margin-top: 40px
	.menu_b
		h4
			margin-bottom: 10px
		ul
			list-style: none;
			
			li
				margin: 5px 0
				a
					font-size: 14px
	> .container > .row > div
		margin-bottom: 30px
.menu_social_b
	.item a
		width: 20px
		height: 20px
		display: flex
		justify-content: center
		align-items: center
		border-radius: 50%
		padding: 15px
		color: white
	.item
		margin-right: 5px
		&:last-of-type
			margin-right: 0px
	.vk a
		background-color: #4A76A8
	.ok a
		background-color: #EE8208
	.tw a
		background-color: #1DA1F2




@import "media.sass"

